<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>hDeskr | {% block title %}{% endblock %}</title>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" async>
		<style> .nolink, .nolink:hover {color:#000; text-decoration:none;}</style>
		{% block head %}
		{% endblock %}
	</head>
	<body>
		<div class="container">
			<div class="row">
				<h1><a href="/" class="nolink">hDeskr</a></h1>
				<div class="navbar navbar-inverse">
					<div class="navbar-inner">
						<a class="brand" href="/">hDeskr</a>
						<ul class="nav">
							<li class="divider-vertical"></li>
							<li class="pull-right"><a href="/list">Open Issues</a></li>
							<li class="divider-vertical"></li>
							<li class="pull-right"><a href="/new">Open New Issue</a></li>
						</ul>
					</div>
				</div>
				<div class="span12">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>