<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>hDeskr | Home</title>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" async>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<h1>hDeskr</h1>
				<div class="navbar navbar-inverse">
					<div class="navbar-inner">
						<a class="brand" href="http://alpha.bluekiwii.com/">BlueKiwii</a>
						<ul class="nav">
							<li class="divider-vertical"></li>
							<li class="pull-right">{% block signio %}<a href="/signin">Sign In</a>{% endblock %}</li>
							<li class="divider-vertical"></li>
							<li class="pull-right"><a href="/signup">Sign Up</a></li>
						</ul>
					</div>
				</div>
				<div class="hero-unit">
					Welcome.
				</div>
			</div>
		</div>
	</body>
</html>